@import url(./__button/header-menu__button.css);

.header-menu {
    margin: 17px 15px 0 0;
    width: 38px;
    height: 38px;
}

@media screen and (min-width: 768px) {
	.header-menu {
		margin: 13px 28px 0 0;
        width: 48px;
        height: 48px;
	}
}

@media screen and (min-width: 1280px) {
	.header-menu {
		margin: 20px 56px 0 0;
        width: 128px;
        height: 40px;
	}
}

.header-menu_type_disable {
    display: none;
}


.header-menu_two-buttons {
    width: 131px;
    height: 40px;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 768px) {
	.header-menu_two-buttons {
        width: 196px;
        height: 34px;
        display: flex;
        align-items: center;
    }
}