.mobile-menu__white-board {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

@media screen and (min-width: 768px) {
	.mobile-menu__white-board {
        width: 67%;
        min-width: 520px;
	}
}