.profile-button {
    display: block;
    width: 128px;
    height: 40px;
    background: none;
    background-image: url(../../images/profile.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    transition: opacity 0.2s linear;
}

.profile-button:hover {
    opacity: 70%;
}

.profile-button_dark {
    background-image: url(../../images/profile-dark.svg);
}