.about-me__flex {
    min-height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {
	.about-me__flex {
        min-height: 232px;
	}
}

@media screen and (min-width: 1280px) {
	.about-me__flex {
        min-height: 230px;
	}
}