.movies__button {
    margin: 0;
    padding: 0;
    width: 240px;
    height: 36px;
    border: none;
    border-radius: 6px;
    background: none;
    background-color: #F9F9F9;

    font-size: 12px;
    font-weight: 500;
    transition: opacity 0.2s linear;
}

.movies__button:hover {
    cursor: pointer;
    opacity: 60%;
}

@media screen and (min-width: 768px) {
	.movies__button {
        width: 320px;
	}
}