.profile-form__feedback {
    margin: 16px 0 20px 0;
    padding: 0;
    display: block;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.2s linear;
    transition: visibility 0.3s, opacity 0.6s linear;
    visibility: visible;
    opacity: 1;
}

.profile-form__feedback_green {

}
