.about-me__content-block {
    margin: 28px 0 0 0;
    padding: 59px 0 0 0;
    border-top: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 768px) {
	.about-me__content-block {
                margin: 23px 0 0 0;
                padding: 66px 0 0 0;
                flex-wrap: nowrap;
                flex-direction: row-reverse;
                justify-content: space-between;
	}
}

@media screen and (min-width: 1280px) {
	.about-me__content-block {
                padding: 65px 0 0 0;
	}
}