.footer__copyright {
    margin: 32px 0 0 0;
    color: #A0A0A0;
    text-align: center;
    font-size: 12px;
}

@media screen and (min-width: 768px) {
	.footer__copyright {
        margin: 0;
	}
}

@media screen and (min-width: 1280px) {
	.footer__copyright {
        font-size: 13px;
	}
}