.header-menu__button_login {
    width: 54px;
    height: 26px;
    border-radius: 3px;
    background-color: #2BE080;
}

@media screen and (min-width: 768px) {
	.header-menu__button_login {
        width: 76px;
        height: 32px;
	}
}