.about-project__week-green {
    width: 35%;
    min-width: 100px;
    height: 35px;
    background-color: #2BE080;
}

@media screen and (min-width: 768px) {
	.about-project__week-green {
        width: 18%;
        min-width: 140px;
        height: 36px;
	}
}

@media screen and (min-width: 1280px) {
	.about-project__week-green {
        min-width: 228px;
	}
}