.about-project__week-front {
    margin: 0;
    width: 64%;
    min-width: 184px;
    height: 33px;
    color: #A0A0A0;
}

@media screen and (min-width: 768px) {
	.about-project__week-front {
        width: 78%;
        min-width: 528px;
        height: 46px;
	}
}

@media screen and (min-width: 1280px) {
	.about-project__week-front {
        min-width: 912px;
	}
}