.movies-cardlist {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 33.5px;
}

@media screen and (min-width: 768px) {
	.movies-cardlist {
        justify-content: left;
        gap: 29px 30px;
	}
}

@media screen and (min-width: 1280px) {
	.movies-cardlist {
        gap: 37px 20px;
	}
}