.menu-two-buttons__button-login {
    margin: 0;
    padding: 5px 0 0 0;
    display: block;
    width: 54px;
    height: 21px;
    border-radius: 3px;
    border: none;
    background: none;
    background-color: #2BE080;

    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    transition: opacity 0.2s linear;
}

@media screen and (min-width: 768px) {
	.menu-two-buttons__button-login {
        margin: 1px 0 0 0;
        padding: 8px 0 0 0;
        width: 76px;
        height: 24px;
        font-size: 12px;
	}
}

.menu-two-buttons__button-login:hover {
    cursor: pointer;
    opacity: 70%;
}