@import url(./__title/auth-form__title.css);
@import url(./__inputs/auth-form__inputs.css);
@import url(./__input-block/auth-form__input-block.css);
@import url(./__error/auth-form__error.css);
@import url(./__input/auth-form__input.css);
@import url(./__label/auth-form__label.css);
@import url(./__submit/auth-form__submit.css);
@import url(./__reg-link/auth-form__reg-link.css);
@import url(./__reg-text/auth-form__reg-text.css);

.auth-form-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 768px) {
	.auth-form-section {
        margin: 0;
        width: 70%;
		max-width: 396px;
		justify-content: left;
	}
}

.auth-form {
    margin: 80px 30px 0 30px;
    padding: 0;
    width: 100%;
    min-height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {
	.auth-form {
        margin: 40px 0 0 0;
        min-height: 380px;
	}
}