.mobile-menu__btn-close {
    margin: 15px 15px 0 0;
    padding: 0;
    border: none;
    background: none;

    width: 29px;
    height: 29px;
    background-image: url(../../../images/close.svg);
    background-size: cover;
    transition: opacity 0.2s linear;
}

.mobile-menu__btn-close:hover {
    cursor: pointer;
    opacity: 70%;
}

@media screen and (min-width: 768px) {
	.mobile-menu__btn-close {
        margin: 21px 21px 0 0;
        width: 34px;
        height: 34px;
	}
}