@import url(./__inputs/profile-form__inputs.css);
@import url(./__input-block/profile-form__input-block.css);
@import url(./__error/profile-form__error.css);
@import url(./__input/profile-form__input.css);
@import url(./__label/profile-form__label.css);
@import url(./__submit/profile-form__submit.css);

.profile-form {
    margin: 50px 0 0 0;
    padding: 0;
    width: 100%;
    min-height: 443px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {
	.profile-form {
        margin: 66px 0 0 0;
        min-height: 274px;
	}
}

@media screen and (min-width: 1280px) {
	.profile-form {
        margin: 93px 0 0 0;
        min-height: 284px;
	}
}