.promo__paragraph {
    margin: 25px 0 0 0;
    padding: 0;
    max-width: 260px;
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 13px;
    font-weight: 400;
    opacity: 0.5;
}

@media screen and (min-width: 768px) {
	.promo__paragraph {
        margin: 22px 0 0 0;
	}
}

@media screen and (min-width: 1280px) {
	.promo__paragraph {
        margin: 36px 0 0 0;
        max-width: 310px;
        text-align: left;
	}
}