.search-form__switch-text {
    margin: 3px 0 0 0;
    padding: 0;
    font-size: 11px;
    line-height: 18px;
}

@media screen and (min-width: 768px) {
	.search-form__switch-text {
        font-size: 13px;
	}
}