@import url(./_type/header__logo_type_auth.css);

.header__logo {
	margin: 18px 0 0 14px;
    max-width: 38px;
	max-height: 38px;
    transition: opacity 0.2s linear;
}

@media screen and (min-width: 768px) {
	.header__logo {
		margin: 18px 0 0 30px;
	}
}

@media screen and (min-width: 1280px) {
	.header__logo {
		margin: 18px 78px 0 70px;
	}
}

.header__logo:hover {
    opacity: 80%;
}