@import url(./_type/header-menu__button_black.css);
@import url(./_type/header-menu__button_white.css);

.header-menu__button {
    margin: 0;
    padding: 0;
    width: 38px;
    height: 38px;
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    border: none;
    transition: opacity 0.2s linear;
}

@media screen and (min-width: 768px) {
	.header-menu__button {
        width: 48px;
        height: 48px;
        font-size: 12px;
	}
}

.header-menu__button:hover {
    cursor: pointer;
    opacity: 70%;
}