.about-project__content-block {
    margin: 28px 0 0 0;
    padding: 62px 0 0 0;
    border-top: 1px solid black;
}

@media screen and (min-width: 768px) {
	.about-project__content-block {
        margin: 22px 0 0 0;
        padding: 71px 0 0 0;
        display: flex;
        gap: 39px;
	}
}

@media screen and (min-width: 1280px) {
	.about-project__content-block {
        display: flex;
        gap: 100px;
	}
}