.about-project__content-block {
    padding: 62px 0 0 0;
}

@media screen and (min-width: 768px) {
	.about-project__content-block {
        padding: 71px 0 0 0;
        min-width: 668px;
        max-width: 870px;
        display: flex;
        gap: 39px;
	}
}

@media screen and (min-width: 1280px) {
	.about-project__content-block {
                min-width: 1140px;
                max-width: 1440px;
                gap: 100px
	}
}